<nz-header>
    <div class="header-wrapper">
        <div class="notification-container">
            <a nz-dropdown [nzDropdownMenu]="notificationMenu" nzTrigger="click" nzPlacement="bottomRight"
                (click)="$event.preventDefault()" tabindex="0" (keydown.enter)="$event.preventDefault()">
                <nz-badge style="display: flex;" [nzCount]="unreadCount">
                    <i nz-icon nzType="bell" nzTheme="outline" class="header-icon"></i>
                    <!-- <nz-avatar  nzIcon="bell" nzTheme="outline"></nz-avatar> -->
                </nz-badge>
            </a>

            <nz-dropdown-menu #notificationMenu="nzDropdownMenu">
                <div class="notification-dropdown">
                    <div class="notification-header">
                        <h3>Notifications</h3>
                        <!-- <a (click)="clearAll()" (keydown.enter)="clearAll()" tabindex="0">Clear All</a> -->
                    </div>

                    <!-- <nz-tabset>
                        <nz-tab nzTitle="All">
                            <div class="notification-list">
                                <ng-container *ngFor="let notification of notifications">
                                    <div class="notification-item">
                                        <div class="notification-avatar">
                                            <ng-container *ngIf="notification.avatar; else avatarTemplate">
                                                <nz-avatar [nzSrc]="notification.avatar"></nz-avatar>
                                            </ng-container>
                                            <ng-template #avatarTemplate>
                                                <ng-container *ngIf="notification.avatarText; else iconTemplate">
                                                    <nz-avatar [nzText]="notification.avatarText"
                                                        [ngStyle]="{'background-color': notification.avatarColor || '#f56a00'}"></nz-avatar>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #iconTemplate>
                                                <nz-avatar nzIcon="mail"></nz-avatar>
                                            </ng-template>
                                        </div>
                                        <div class="notification-content">
                                            <div class="notification-sender" *ngIf="notification.sender">
                                                <span>{{ notification.sender }}</span>
                                            </div>
                                            <div class="notification-message">
                                                {{ notification.content }}
                                            </div>
                                        </div>
                                        <div class="notification-count">
                                            {{ notification.count }}k
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </nz-tab>
                        <nz-tab nzTitle="1M">
                        </nz-tab>
                        <nz-tab nzTitle="6M">
                        </nz-tab>
                        <nz-tab nzTitle="1Y">
                        </nz-tab>
                    </nz-tabset> -->

                    <div class="notification-footer">
                        <button nz-button nzType="primary" nzBlock (click)="viewAllNotifications()">
                            View All Notification
                            <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                        </button>
                    </div>
                </div>
            </nz-dropdown-menu>
        </div>

        <div class="user-container">
            <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
                <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                    nzTheme="outline" nzSize="large"></nz-avatar>
            </a>

            <nz-dropdown-menu #menu="nzDropdownMenu">
                <div style="width: 200px;">
                    <ul style="margin-top: 20px;" nz-menu>
                        <h5 style="margin: 12px">Firstname Lastname</h5>
                        <li nz-menu-divider></li>
                        <li nz-menu-item>
                            <i nz-icon nzType="user" nzTheme="outline"></i>
                            Profile
                        </li>
                        <li nz-menu-item>
                            <i nz-icon nzType="user" nzTheme="outline"></i>
                            Language
                        </li>
                        <li nz-menu-item>
                            <i nz-icon nzType="setting" nzTheme="outline"></i>
                            Settings
                        </li>
                        <li nz-menu-divider></li>
                        <li nz-menu-item (click)="logout()" (keydown.enter)="logout()" tabindex="0">
                            <i nz-icon nzType="logout" nzTheme="outline"></i>
                            Logout
                        </li>
                    </ul>
                </div>
            </nz-dropdown-menu>
        </div>
    </div>
</nz-header>