:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
  background: #f0f2f5;
  flex: 1;
}
