@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f2f5;
  color: #707186;
  margin: 0;
  padding: 0;
}

/* .primary-text {
  @apply text-primary font-semibold;
} */
